<launch>
        <param name="robot_description" command="cat $(find pandent_publisher)/urdf/my_robot.urdf" />

	<node name="pandent_publisher" pkg="pandent_publisher" type="pandent" output="screen"/> 
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>

</launch>
